r_decal_cullsize 1

exec joystick.cfg
exec autoexec.cfg
exec m0re_customizations.cfg
exec m0re_animations.cfg
exec m0re_crosshairs.cfg

alias "m0re_firstrun" "exec m0re_first_run"
exec m0re_has_run.txt
m0re_firstrun

stuffcmds
startupmenu
sv_unlockedchapters 99