# Auto detect text files and perform LF normalization
* text=auto

*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=vdf
*.txt linguist-detectable=true linguist-language=vdf
*.vmt linguist-detectable=true linguist-language=vdf

resource/chat_english.txt diff

.gitattributes export-ignore
.gitignore export-ignore